 @import url('https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap');


 /* ====================== Обнуление ====================================== */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}


/* ================================================================ */

/* ==================================================================== */


html {
  font-size: inherit;
}

body {
  font-family: Manrope, sans-serif; /*Меняем на тот что в макете*/
  font-weight: 400;
  line-height: 1;
  color: #333333;
}

.wrapper {
  overflow: hidden;
  min-height: 100%; /*чтоб wrapper всегда занимал все высоту*/
  display: flex;
  flex-direction: column;
}

[class*=__container] {
  max-width: 1170px; 
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
   [class*=__container] {
      max-width: 970px;
   }
}
@media (max-width: 991.98px) {
   [class*=__container] {
      max-width: 750px;
   }
}
@media (max-width: 767.98px) {
   [class*=__container] {
      max-width: none;
      padding: 0 15px;
   }
}

.main {
   flex: 1 1 auto;
}

/* ===================== Common blocks ================================ */

.logo {
   font-weight: 800;
   font-size: 23px;
   line-height: 1.34;
}
.btn-link {
   background: #F85A47;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 17px;
   line-height: 1.35;
   text-align: center;
   box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
   transition: 0.3s ease;
}
.btn-link:hover {
   background: #db4e3e;
}
.title-middle {
   font-weight: 600;
   font-size: 40px;
   line-height: 1.375;
   color: #000000;
}

@media (max-width: 767.98px) {
   .title-middle {
      font-size: 30px;
    }
}


 /* ======================= Menu ================= */

.menu {}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 46px;
   row-gap: 5px;
}

.menu__item {
   position: relative;
}
.menu__link {
   font-weight: 700;
   font-size: 13px;
   line-height: 1.3;
   color: #000000;
}
.menu__link::after {
   content: "";
   display: inline-block;
   height: 1px;
   width: 0;
   background-color: #000000;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: width 0.3s ease;
}

.menu__link:hover::after {
   width: 100%;
}

@media (max-width: 767.98px) {
   .menu__list {
      justify-content: center;
   }
   .menu__link {
      font-size: 18px;
   }
}

/* ============================================================= */


/* ======================= HEADER ============================== */

.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;

   padding: 36px 0;
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 10px;
   row-gap: 20px;
}

.header__logo {}

.header__menu {}

@media (max-width: 767.98px) {
   .header__container {
      flex-direction: column;
   }
}

/* ============================================================= */


/* ========================= Presentation ============================== */


.main__presentation {
}


.presentation {
   padding-bottom: 112px;
}
.presentation__container {
   padding-top: 184px;
   position: relative;
}
.presentation__container::after {
   content: "";
   background-color: #BDCCFF;
   width: 200%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 68%;         
   /* (794/1170)*100 */
}
.presentation__body {
   display: flex;
   margin-bottom: 14px;
   position: relative;
   z-index: 50;
}
.presentation__content {
   flex: 0 1 50%;
}
.presentation__slider {
   flex: 0 1 50%;
}

.content-presentation {
   padding-top: 40px;
}
.content-presentation__body{
   padding-right: 80px;
}
.content-presentation__body:not(:last-child) {
   margin-bottom: 48px;
}
.content-presentation__body *:not(:last-child) {
   margin-bottom: 20px;
}
.content-presentation__subtitle {
   font-weight: 700;
   font-size: 22px;
   line-height: 1.31;
   color: #FF9900;
}
.content-presentation__title {
   font-weight: 800;
   font-size: 54px;
   line-height: 1.35;
   color: #000000;
   
}
.content-presentation__text {
   font-weight: 400;
   font-size: 17px;
   line-height: 1.35;
   letter-spacing: 0.01em;
}
.content-presentation__form {
   margin-right: -188px;
   position: relative;
   z-index: 2;
}


.form-presentation {
   display: flex;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);

}
.form-presentation__input {
   flex: 1 1 auto;
   border: 1px solid #DADADA;
   background: #ffffff url(../images/main/presentation/home.svg) 33px 47% no-repeat;
   padding: 30px 0 30px 74px;

   font-weight: 400;
   font-size: 20px;
   line-height: 1.35;
   letter-spacing: 0.01em;
}
.form-presentation__input::placeholder {
   font-weight: 400;
   font-size: 20px;
   line-height: 1.35;
   letter-spacing: 0.01em;
   opacity: 0.3;
}
.form-presentation__button {
   cursor: pointer;
   flex: 0 0 188px;
   padding: 0 40px;
   font-weight: 700;
   font-size: 17px;
   line-height: 1.35;
   letter-spacing: 0.01em;
   box-shadow: none;
}


.presentation__slider {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
   position: relative;
   padding-bottom: 95%;
}
.swiper-slide img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}

.swiper-button-next {
}


.presentation__partners {
   max-width: 65%;
   position: relative;
   z-index: 50;
}
/* ========================== Partners ====================== */
.partners {
   display: flex;
   flex-direction: column;
   row-gap: 27px;
}
/* .partners *:not(:last-child) {
   margin-bottom: 27px;
} */
.partners__label {
   font-weight: 400;
   font-size: 17px;
   line-height: 1.35;
}
.partners__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
.partners__item {
   transition: 0.3s ease;
}
.partners__item:hover {
   transform: scale(1.2);
}
.partners__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

/* =========================================================== */

@media (max-width: 991.98px) {
   .presentation {
      padding-bottom: 80px;
   }
   .presentation__container {
      padding-top: 150px;
   }
   .presentation__body {
      flex-wrap: wrap;
      row-gap: 50px;
      margin-bottom: 30px;
   }
   .presentation__content {
      flex: 0 1 100%
   }
   .presentation__slider {
      flex: 0 1 100%;
   }
   .content-presentation__form {
      margin-right: 0px;
   }
   .presentation__partners {
      max-width: 100%;
   }
   .form-presentation__input {
      padding: 20px 0 20px 74px;     
   }
   .form-presentation__input {
      font-size: 25px;   
   }
   .form-presentation__button {
      padding: 0 20px;
      font-size: 20px;
   }
}

@media (max-width: 767.98px) {
   .presentation {
      padding-bottom: 50px;
   }
   .presentation__container {
      /* padding-top: 130px; */
   }
   .content-presentation__body {
      padding-right: 0px;
   }
   .content-presentation__title {
      font-size: 40px;
   }
  .content-presentation__subtitle {
      font-size: 17px;
   }
   .form-presentation__input {
      padding: 15px 0 15px 74px;    
   }
}
@media (max-width: 639.98px) {
   .form-presentation {
      flex-wrap: wrap;
      background-color: #ffffff; 
   }
   .form-presentation__input {
      padding: 10px; 
      flex: 1 0 100%;   
      background: #ffffff; 
      text-align: center;
   }
  
   .form-presentation__button {
      padding: 13px 0 13px 0px; 
      flex: 1 0 100%; 
   }
}
@media (max-width: 449.98px) {
   .header {
      padding: 15px 0;
   }
   .menu__list {
      flex-direction: column;
   }
   .presentation__container {
      padding-top: 230px;
   }
   .presentation__body {
      row-gap: 30px;
   }
   .content-presentation__title {
      font-size: 25px;
   }
   .content-presentation__subtitle {
      font-size: 14px;
   }
   .content-presentation__body:not(:last-child) {
      margin-bottom: 20px;
   }
   .form-presentation__input {
      padding: 10px; 
      font-size: 16px;
   }
   .form-presentation__input::placeholder {
      font-size: 15px; 
   }
   .form-presentation__button {
      font-size: 15px; 
   }
}

/* ==================================================================================================================== */


/* ========================== How it work ============================================================================= */


.how-it-works {
   padding: 112px 0 101px 0;
}
.how-it-works__container >*:not(:last-child) {
   margin-bottom: 70px;
}
.how-it-works__title {
   text-align: center;
}
.how-it-works__cards {
   display: flex;

   justify-content: space-between;
   column-gap: 30px;
   padding: 0 35px;

}
.how-it-works__card {
   flex: 0 1 260px;
   /* max-width: 260px; */
}
.how-it-works__card_middle .card-how-it-works__image::before {
   content: "";
   display: inline-block;
   width: 210px; 
   /* width: 233.33%; */
   height: 11px;
   background: url(../images/main/howItWork/decor/before.svg) 0 0 / 100% no-repeat;
   /* background-size: cover;
   background-position: center; */
   position: absolute;
   top: 50%;
   left: -50%;
   transform: translate(-100%, -50%);
}
.how-it-works__card_middle .card-how-it-works__image::after {
   content: "";
   display: inline-block;
   width: 210px;
   height: 11px;
   background: url(../images/main/howItWork/decor/before.svg) 0 0 / 100% no-repeat;
   position: absolute;
   top: 50%;
   right: -50%;
   transform: translate(100%, -50%) rotate(180deg);
}

.card-how-it-works {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card-how-it-works >*:not(:last-child) {
   margin-bottom: 50px;
}
.card-how-it-works__image {
   flex: 0 0 90px;
   width: 90px;
   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   position: relative;
}
.card-how-it-works__image_purple {
   background: #9672FF;
   box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}
.card-how-it-works__image_blue {
   background: #4DDFFD;
   box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}
.card-how-it-works__image_pink {
   background: #F2B8EC;
   box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}
.card-how-it-works__img {
   flex: 0 0 25px;
   height: 25px;
}
.card-how-it-works__body {
}
.card-how-it-works__body >*:not(:last-child) {
   margin-bottom: 15px;
}
.card-how-it-works__title {
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   color: #000000;
   text-align: center;
}
.card-how-it-works__text {
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
}

@media (max-width: 1199.98px) {
   .how-it-works__card_middle .card-how-it-works__image::before,
   .how-it-works__card_middle .card-how-it-works__image::after {
      width: 150px; 
   }
}

@media (max-width: 991.98px) {
   .how-it-works {
      padding: 50px 0 50px 0;
   }
   .how-it-works__card_middle .card-how-it-works__image::before,
   .how-it-works__card_middle .card-how-it-works__image::after {
      height: 5px;
      width: 95px; 
   }
   .how-it-works__card_middle .card-how-it-works__image::before {
      left: -25%;
   }
   .how-it-works__card_middle .card-how-it-works__image::after {
      right: -25%;
   }
}

@media (max-width: 767.98px) {
   .how-it-works {
      padding: 30px 0 30px 0;
   }

   .how-it-works__card_middle .card-how-it-works__image::before,
   .how-it-works__card_middle .card-how-it-works__image::after {
      display: none;
   }

   .how-it-works__cards {
      flex-direction: column;
      row-gap: 50px;
   }
   
   .how-it-works__container >*:not(:last-child) {
      margin-bottom: 30px;
   }
   .card-how-it-works >*:not(:last-child) {
      margin-bottom: 15px;
   }
   .card-how-it-works__body >*:not(:last-child) {
      margin-bottom: 10px;
   }
   .card-how-it-works__image {
      flex: 0 0 70px;
      width: 70px;
   }

   .how-it-works__card {
      flex: 0 1 auto;
   }
}

/* ====================================================================================== */

/* ========================= Property ==================================================== */

.property {
   padding: 123px 0;
}
.property__container {
}
.property__container > *:not(:last-child) {
   margin-bottom: 50px;
}
.property__header {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}
.property__text-modul {
   max-width: 50%;
}
.property__text-modul > *:not(:last-child) {
   margin-bottom: 15px;
}
.property__title {
}
.propperty__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   max-width: 470px;
}
.property__button {
   align-self: flex-start;
   display: inline-block;
   padding: 21px 33px;
   border-radius: 5px;
   text-align: center;
}
.property__tabs {
}
@media (max-width: 767.98px) {
   .property__header {
      flex-direction: column;
      row-gap: 10px;
   }
   .property__text-modul {
      max-width: 100%;
   }
}
@media (max-width: 639.98px) {
   .property__button {
      align-self: stretch;
   }
}


.tabs {  
}
.tabs__nav {
   display: flex;
   flex-wrap: wrap;
   column-gap: 50px;
   row-gap: 40px;
   margin-bottom: 45px;
}
.tabs__btn {
   font-weight: 400;
   font-size: 19px;
   line-height: 1.36;
   background: transparent;
   transition: 0.3s ease;
   position: relative;
}
.tabs__btn::after,
.tabs__btn.active::after {
   content: "";
   position: absolute;
   bottom: -12px;
   left: 0;
   display: inline-block;
   width: 0;
   height: 1px;
   background-color: #F85A47;
   transition: width 0.3s ease;
}
.tabs__btn:hover {
   cursor: pointer;
   color: #F85A47;
   /* font-weight: 600; */
}
.tabs__btn:hover::after {
   width: 100%;
}
.tabs__btn.active {
   color: #F85A47;
}
.tabs__btn.active::after {
   width: 100%;
}

.tabs__items {
}
.tabs__item {
   display: none;
}
.tabs__item.active {
   display: block;
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
   row-gap: 30px;
}
.tabs__element {
   flex: 0 0 33.333%;
   padding: 0 15px;
   position: relative;
}
.tabs__image {
   display: block;
   position: relative;
   padding-bottom: 81.08%;
   overflow: hidden;
}
.tabs__img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s ease;
}
.tabs__img:hover {
   transform: scale(1.1);
}

.tabs__options {
   display: flex;
   column-gap: 6px;   
   position: absolute;
   top: 0;
   left: 0;
   margin: 14px 0 0 29px;
}
.tabs__featured,
.tabs__3d {
   display: inline-block;
   font-weight: 400;
   font-size: 12px;
   line-height: 15px; 
   color: #FFFFFF;
   background: rgba(0, 0, 0, 0.4);
   border: 1px solid #FFFFFF;
   border-radius: 5px;
}
.tabs__featured{
   padding: 5px 12px;
}
.tabs__3d {
   padding: 5px 6px;
   text-transform: uppercase;
}


@media (max-width: 991.98px) {
   .property {
      padding: 50px 0;
   }
   .tabs__element {
      flex: 1 0 50%;
   }
}
@media (max-width: 767.98px) {
   .property {
      padding: 30px 0;
   }
   .tabs__element {
      flex: 1 0 100%;
   }
}

/* ========================== Listing ========================= */

.listing {
   padding: 120px 0 98px 0;
}
.listing__container {
}
.listing__title {
   text-align: center;
   margin-bottom: 94px;
}

.listing__content {
   padding: 40px 0px 81px;
   background: #F1FFFF;

   display: flex;
   /* flex-wrap: wrap; */
}
.listing__images {
   margin: 0 39px;
   flex: 0 1 50%;
}
.listing__image-box-big {
   max-width: 492px;
}
.listing__image {
   position: relative;
}
.listing__image_big {
   padding-bottom: 73.98%;
}
.listing__image-box-small {
   max-width: 410px;
   margin: 0 7%;        
}
.listing__image_small {
   padding-bottom: 67.80%;
   margin-top: -27.56%;
   filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}
.listing__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}


.listing__text-block {
   flex: 0 1 50%;
   padding: 43px 23px 0;
   max-width: 458px;
}



.text-block-listing {
   /* display: flex;
   flex-direction: column;
    */
}
.text-block-listing__title {
   font-weight: 600;
   font-size: 31px;
   line-height: 1.35;
   margin-bottom: 28px;
}
.text-block-listing__text,
.data-table__value {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   color: #545A58;
}
.text-block-listing__text {
   margin-bottom: 42px;
   max-width: 344px;
}
.text-block-listing__data {
   margin-bottom: 54px;
}
.data-table {
   display: flex;
   flex-wrap: wrap;
   row-gap: 37px;
   /* gap: 37px 61px; */

}
.data-table__block {
   flex: 0 0 33.33%;
   display: flex;
   flex-direction: column;
   row-gap: 12px;
}
.data-table__title {
   font-weight: 700;
   font-size: 17px;
   line-height: 1.35;
}
.data-table__value {
}
.text-block-listing__btn {
   display: inline-block;
   padding: 15px 37px;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 42px;
}
.text-block-listing > *:last-child {
   margin-bottom: 0;
}
/* @media (max-width: 1199.98px) {
   .listing__container {
      max-width: 100%;
    }
} */

@media (max-width: 1030.98px) {
   .listing__content {
      flex-wrap: wrap;
      justify-content: center;
   }
   .listing__images {
      flex: 1 1 100%;
   }
   .listing__text-block {
      flex: 1 1 100%;
   }
   .listing__image-box-big {
      max-width: 100%;
   }
   .listing__image-box-small {
      max-width: 100%;
   }
}


@media (max-width: 991.98px) {
   .listing {
      padding: 50px 0;
   }
   .listing__container {
      padding: 0;
   }
   .listing__title {
      margin-bottom: 40px;
   }
}
@media (max-width: 767.98px) {
   .listing__content {
      padding: 20px 0px 40px;
   }
   .listing__title {
      margin-bottom: 20px;
   }
   .listing__images {
      margin: 0 15px;
   }
   .listing__text-block {
      max-width: 100%;
      padding: 43px 15px 0;  
      display: flex;
      flex-direction: column; 
      /* align-items: center; */
   }
   .text-block-listing__title {
      text-align: center;
      font-size: 20px;
   }
   .text-block-listing__text {
      max-width: 100%;
   }
   .text-block-listing__data{
      align-self: center;
   }
}
@media (max-width: 449.98px) {
   .text-block-listing__btn {
      font-size: 16px;
   }
   .data-table__block {
      flex: 0 0 50%;
   }
}
/* ======================================================= */

/* ============================= Raviews ===================== */

.reviews {
   padding: 98px 0 105px;
}
.reviews__container {
}
.reviews__title {
   max-width: 570px;
   margin-bottom: 51px;
}
.reviews__cards {
   display: flex;
   row-gap: 30px;
   margin: 0 -15px;
   margin-bottom: 84px;
}
.reviews__card {
   flex: 0 1 33.333%;
   padding: 0 15px;
}
.reviews__partners {
}


.card-reviews {
   display: flex;
   flex-direction: column;
   height: 100%;
   border: 1px solid #EBEBEB;
   border-radius: 10px;
   padding: 52px 38px;
   transition: 0.3s ease;
}
.card-reviews:hover {
   border: 1px solid transparent;
   box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
}
.card-reviews__ratig {
}
.card-reviews__text {
   flex-grow: 1;
   max-width: 270px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.75;
   margin-bottom: 53px;
}
.card-reviews__author {
}



.author-reviews {
   display: flex;
   column-gap: 20px;
   align-items: center;
}
.author-reviews__avatar {
   align-self: start;
   width: 48px;
   height: 48px;
   border-radius: 50%;
}
.author-reviews__info {
}
.author-reviews__name {
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
}
.author-reviews__city {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.35;
   color: #666666;
}


.partners-reviews {
   padding: 0 43px 0 36px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 30px;
}
.partners-reviews__items {
   flex: 0 1 673px;

   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   column-gap: 30px;
   row-gap: 30px;
}
.partners-reviews__item {
   transition: 0.3s ease;
}
.partners-reviews__item:hover {
   transform: scale(1.2);
}
.partners-reviews__img {
}
.partners-reviews__info {
   flex: 0 1 311px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
}
.partners-reviews__link {
   text-decoration-line: underline;
   color: #2CBDE7;
}

@media (max-width: 991.98px) {
   .reviews {
      padding: 50px 0;
   }
   .reviews__cards {
      flex-wrap: wrap;
      margin: 0 -15px;
      margin-bottom: 50px;
   }
   .reviews__card {
      flex: 0 1 50%;
   }
   .card-reviews {
      padding: 30px 20px;
   }
   .card-reviews__text {
      max-width: 100%;
   }

}
@media (max-width: 767.98px) {
   .reviews {
      padding: 30px 0;
   }
   .reviews__card {
      flex: 1 1 100%;
   }
   .card-reviews__text {
      margin-bottom: 30px;
   }
}


/* ============================ Subscribe ============ */

.subscribe {
   padding-top: 105px;
   padding-bottom: 105px;
   background-color: #FBFCFC;;
}
.subscribe__container {
}
.subscribe__title {
   text-align: center;
   font-weight: 700;
   font-size: 45px;
   line-height: 144.2%;
   margin-bottom: 11px;
}
.subscribe__subtitle {
   text-align: center;
   font-weight: 700;
   font-size: 23px;
   line-height: 144.2%;
   letter-spacing: 0.02em;
   color: #31353B;
   margin-bottom: 34px;
}
.subscribe__form {
   max-width: 686px;
   margin: 0 auto;
}


.form-subscribe {
   padding: 26px 30px 26px 45px;
   background: #FFFFFF;
   box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
   /* align-items: center; */
}
.form-subscribe__input-block {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   row-gap: 11px;
}
.form-subscribe__label {
   cursor: pointer;
   font-weight: 500;
   font-size: 17px;
   line-height: 144.2%;
   opacity: 0.2;
}
.form-subscribe__input {
   /* width: 100%; */
   font-weight: 700;
   font-size: 20px;
   line-height: 144.2%;
}
.form-subscribe__input::placeholder {
   opacity: 0.2;
   color: #31353B;
}
.form-subscribe__input:focus::placeholder {
   color: transparent;
}
.form-subscribe__btn {
   cursor: pointer;
   padding: 0 39px;
   font-weight: 500;
   font-size: 18px;
   line-height: 144.2%;

}

@media (max-width: 991.98px) {
   .subscribe {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .subscribe__title {
      font-size: 30px;
   }
   .subscribe__subtitle {
      font-size: 20px;
   }
   .subscribe__form {
      max-width: 100%;
   }

@media (max-width: 767.98px) {
   .subscribe {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .form-subscribe {
      flex-direction: column;
      row-gap: 20px;
   }
   .form-subscribe__input-block {
      align-items: center;
   }
   .form-subscribe__input {
      text-align: center;
   }
   .form-subscribe__btn {
      padding: 10px;
   }
   .subscribe__subtitle {
      margin-bottom: 10px;
   }